<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TES3MP_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TES3MP_Manager.Properties.Settings>
            <setting name="SourcePath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CompressionLevel" serializeAs="String">
                <value>Best</value>
            </setting>
            <setting name="MaxBackups" serializeAs="String">
                <value>10</value>
            </setting>
        </TES3MP_Manager.Properties.Settings>
    </userSettings>
</configuration>